:root {
  --primary-color: rgb(255, 244, 223);
  --text-color:  rgb(255, 244, 223);
  --secondary-color: rgb(19, 14, 14);
  }

.bg-main{
  background-color: var(--primary-color);
}

.bg-sec{
  background-color:var(--secondary-color);
}

.text-main{
  color: var(--text-color);
}

.head-animate{
  animation: myfirst 6s linear 2s infinite alternate;
  position: relative;
}


.head-mob-animate{
  animation: mysecond 6s linear 2s infinite alternate;
  position: relative;
}

.rotate-head{
 transform: rotate(90deg);
  width:fit-content;

}

.animate-para{
  animation: marquee 5s infinite; 
}
@keyframes marquee {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-20, 0); }
  50% { transform: translate(-50, 0); }
  100% { transform:translate(-60%, 0); }
}

@keyframes mysecond {
  0%   {background-color:var(--primary-color) ; left:0px; top:0px;}
  50%  {background-color:var(--primary-color); left:-80px; top:0;}
  75%  {background-color:var(--primary-color); left:0px; top:0;}
  100% {background-color:var(--primary-color); left:0px; top:0px;}
}


@keyframes myfirst {
  0%   {background-color:var(--primary-color) ; left:0px; top:0px;}
  50%  {background-color:var(--primary-color); left:-200px; top:0;}
  75%  {background-color:var(--primary-color); left:0px; top:0;}
  100% {background-color:var(--primary-color); left:0px; top:0px;}
}

.translate {
  transform: translate(15%, 7%);
}